body { 
background-color: grey;
}

h1 {
 color:green;
}
div.a {
 height: auto;
 border: 8px solid orange;
 font-size: 15pt;
}
div.b {
    width: 102px;
    border: 4px solid red;
}
h3 {
 text-align: left; 
}
p.b {
    font-family: "Times New Roman", Times, serif;
}
#example1 {
    border: 3px solid;
    padding: 1px;
    box-shadow: 5px 10px;
}
li # "ace" {
 color:red;
}
ul # "spades" {
 color:blue;
}
